body {
    font-family: "Open Sans", sans-serif;
    font-size: 13pt;
    font-weight: 300;
    padding-bottom: 50px;
}

div {
    text-align: justify;
    max-width: 700px;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
}

h1 {
    font-family: "Instrument Serif", serif;
    font-size: clamp(40px, 8vw, 70px);
    color: #2D2424;
}

a {
    text-decoration: none;
    color: #525252;
}

a:hover {
    color: #2D2424;
}

.float-img {
    float: left;
    width: 45%;
    height: auto;
    margin-right: 4%;
    margin-bottom: 2%;
}

footer {
    text-align: center;
    padding-top: 50px;
}

footer img {
    width: 30px;
    height: auto;
}
